.detail {
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
}

.card {
  background-color: white;
  box-shadow: 4px 4px 10px 0 rgba($black, 0.5);
  display: flex;
  flex-flow: row wrap;
  max-height: 416px;
  max-width: 900px;
  padding: 24px;
  width: 100%;
}

.cover {
  display: flex;
  flex-direction: column;
  height: 368px;
  margin-right: 52px;
  position: relative;

  &__image {
    height: inherit;
    width: auto; 
  }

  &::after {
    background-image: url(assets/badge.png);
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
    height: 120px;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(30%, -15%) rotate(15deg);
    width: 94px;
  }
}

.info {
  color: $black;
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  &__title {
    border-bottom: 4px solid $las-palmas;
    padding-bottom: 12px;

    &--main {
      font-size: 32px;
      font-weight: 700;
    }

    &--secundary {
      font-size: 24px;
      font-weight: bold;
    }
  }

  &__item {
    margin-top: 36px;

    &--main {
      font-weight: bold;
    }
  }
  
  &__item--main,
  &__item--secundary {
    font-size: 20px;
  }

  &__title--secundary,
  &__item--secundary {
    color: $gray;
  }
}
