.book {
  color: $black;

  &__title {
    margin: 0 0 52px 0;

    &__text--main {
      font-size: 39px;
      font-weight: 700;
    }

    &__text--secundary {
      font-size: 30px;
      font-weight: bold;
    }
  }

  &__detail ul li{
    margin: 0 0 36px 0;

    &__text--main {
      font-weight: bold;
    }
  }
  
  &__detail__text--main,
  &__detail__text--secundary {
    font-size: 22px;
  }

  &__title__text--secundary,
  &__detail__text--secundary {
    color: $gray;
  }
}
