.book-card {
  display: flex;
  flex-flow: row wrap;
  height: 100%;
  max-height: 416px;
  max-width: 900px;
  padding: 24px;
  width: 100%;
}

.book-cover {
  height: 368px;
  margin: 0 52px 0 0;
  overflow: hidden;

  &__image {
    height: inherit;
    width: auto;
  }
}

.book {
  color: $black;

  &__title {
    margin: 0 0 52px 0;

    &__text--main {
      font-size: 39px;
      font-weight: 700;
    }

    &__text--secundary {
      font-size: 30px;
      font-weight: bold;
    }
  }

  &__detail ul li{
    margin: 0 0 36px 0;

    &__text--main {
      font-weight: bold;
    }
  }
  
  &__detail__text--main,
  &__detail__text--secundary {
    font-size: 22px;
  }

  &__title__text--secundary,
  &__detail__text--secundary {
    color: $gray;
  }
}
