.detail__wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  
  @include for-mobile {
    flex-grow: 0;
    margin-bottom: 36px;
  }
}

.redirection {
  display: flex;
  width: 100%;
  align-self: flex-start;

  &__button {
    display: flex;
    align-items: center;
    font-size: 20px;
    
    &::before {
      content: url(assets/back-arrow-20.png);
      margin-right: 12px;
    }
  }

  @include for-mobile {
    justify-content: center;
    order: 1;
  }
}

.card {
  background-color: $white;
  box-shadow: 4px 4px 10px 0 rgba($black, 0.5);
  display: flex;
  max-width: 900px;
  padding: 24px;
  width: 100%;

  @include for-mobile {
    flex-direction: column;
    max-width: 336px;
  }
}

.cover {
  display: flex;
  flex-direction: column;
  height: 368px;
  margin-right: 52px;
  position: relative;

  &__image {
    height: inherit;
    width: auto; 
  }

  &::after {
    background-image: url(assets/badge.png);
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
    height: $badge-heigth;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(30%, -15%) rotate(15deg);
    width: $badge-width;
  }

  @include for-mobile {
    align-self: center;
    height: fit-content;
    margin-bottom: 36px;
    margin-right: 0;
    width: fit-content;

    &__image {
      height: auto;
      width: 212px;
    }

    &::after {
      height: $badge-heigth * .7;
      width: $badge-width * .7;
    }
  }
}

.info {
  color: $black;
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  &__title {
    border-bottom: 4px solid $las-palmas;
    padding-bottom: 12px;

    &--main {
      font-size: 32px;
      font-weight: 700;
    }

    &--secundary {
      font-size: 24px;
      font-weight: bold;
    }
  }

  &__item {
    margin-top: 36px;

    &--main {
      font-weight: bold;
    }
  }
  
  &__item--main,
  &__item--secundary {
    font-size: 20px;
  }

  &__title--secundary,
  &__item--secundary {
    color: $gray;
  }

  @include for-mobile {
    flex-grow: 0;
    padding-bottom: 36px;

    &__title--main {
      font-size: 24px;
    }

    &__title--secundary {
      font-size: 16px;
    }

    &__item--main,
    &__item--secundary {
      font-size: 14px;
    }
  }
}
