<app-sign-base>
  <div #formContent>
    <form [formGroup]="form" (ngSubmit)="signUp(form.value)">
      <!-- First name input -->
      <label class="form__label">Nombre</label>
      <div class="form__alert" *ngIf="form.controls['first_name']?.errors?.required && form.controls['first_name']?.touched">Debes completar este campo</div>
      <input class="form__input" type="text" formControlName="first_name">
      <!-- Last name input -->
      <label class="form__label">Apellido</label>
      <div class="form__alert" *ngIf="form.controls['last_name']?.errors?.required && form.controls['last_name']?.touched">Debes completar este campo</div>
      <input class="form__input" type="text" formControlName="last_name">
      <!-- Email input -->
      <label class="form__label">Email</label>
      <div class="form__alert" *ngIf="form.controls['email']?.errors?.required && form.controls['email']?.touched">Debes completar este campo</div>
      <div class="form__alert" *ngIf="form.controls['email']?.errors?.email && form.controls['email']?.touched">Correo inválido</div>
      <input class="form__input" type="email" formControlName="email">
      <!-- Password input -->
      <label class="form__label">Password</label>
      <div class="form__alert" *ngIf="form.controls['password']?.errors?.required && form.controls['password']?.touched">Debes completar este campo</div>
      <div class="form__alert" *ngIf="form.controls['password']?.errors?.pattern && form.controls['password']?.touched">Al menos una mayúscula y un número</div>
      <input class="form__input" type="password" formControlName="password">
      <!-- Password confirmation input -->
      <label class="form__label">Confirmación de Password</label>
      <div class="form__alert" *ngIf="form.controls['password_confirmation']?.errors?.required && form.controls['password_confirmation']?.touched">Debes completar este campo</div>
      <div class="form__alert" *ngIf="form.controls['password_confirmation']?.errors?.matching && form.controls['password_confirmation']?.touched">El password no coincide</div>
      <input class="form__input" type="password" formControlName="password_confirmation">
      <!-- Submit button -->
      <button class="form__submit" type="submit" [disabled]="!form.valid">Sign Up</button>
    </form>
  </div>
  <div #redirectContent>
    <button class="button__redirect">Login</button>
  </div>
</app-sign-base>
