.button__redirect {
  align-items: center;
  border-radius: 5px;
  border: 2px solid $las-palmas;
  color: $las-palmas;
  display: flex;
  font-size: 16px;
  font-weight: lighter;
  height: 32px;
  justify-content: center;
  margin-bottom: 24px;
  width: 100%;
}
